<link rel="stylesheet" href="styles/wamain.css">

<!-- begin of carousel  -->
<div class="mycontainer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 column">
                <div class="carousel slide" id="carousel-main">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-main" class="active"></li>
                        <li data-slide-to="1" data-target="#carousel-main"></li>
                        <li data-slide-to="2" data-target="#carousel-main"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <iframe src="views/carousels/ioe.html" frameborder="0" scrolling="no" width="100%"
                                    height="400px" alt="ioe"></iframe>
                        </div>
                        <div class="item">
                            <img alt="" src="http://lorempixel.com/1600/500/sports/2"/>
                        </div>
                        <div class="item">
                            <img alt="" src="http://lorempixel.com/1600/500/sports/3"/>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-main" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end of carousel -->

        <!-- begin of day icon  -->
        <div ng-if="time == 'day'" class="afternoon show">
            <div class="row clearfix">
                <div class="col-xs-4 column icon-btn">
                    <a href="#product"> <img src="images/icon/browser1.png" class="center-block"/>

                        <h3 class="text-center"> 제품소개 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#expCenter"> <img alt="140x140" src="images/icon/globe1.png" class="center-block"/>

                        <h3 class="text-center"> 제품체험관 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#iot"> <img alt="140x140" src="images/icon/weather1.png" class="center-block"/>

                        <h3 class="text-center"> 사물인터넷 </h3></a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-4 column icon-btn">
                    <a href="#trendTech"> <img alt="140x140" src="images/icon/news1.png" class="center-block"/>

                        <h3 class="text-center"> 기술동향 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#request"> <img alt="140x140" src="images/icon/mail1.png" class="center-block"/>

                        <h3 class="text-center"> 제품문의 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#directions"> <img alt="140x140" src="images/icon/compass1.png" class="center-block"/>

                        <h3 class="text-center"> 오시는 길 </h3></a>
                </div>
            </div>
        </div>
        <!-- end of day icon  -->

        <!-- begin of night icon  -->
        <div ng-if="time == 'night'" class="evening show">
            <div class="row clearfix">
                <div class="col-xs-4 column icon-btn">
                    <a href="#product"> <img src="images/icon/browser2.png" class="center-block"/>

                        <h3 class="text-center"> 제품소개 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#expCenter"> <img src="images/icon/globe2.png" class="center-block"/>

                        <h3 class="text-center"> 제품체험관 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#iot"> <img src="images/icon/weather2.png" class="center-block"/>

                        <h3 class="text-center"> 사물인터넷 </h3></a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-4 column icon-btn">
                    <a href="#trendTech"> <img src="images/icon/news2.png" class="center-block"/>

                        <h3 class="text-center"> 기술동향 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#request"> <img src="images/icon/mail2.png" class="center-block"/>

                        <h3 class="text-center"> 제품문의 </h3></a>
                </div>
                <div class="col-xs-4 column icon-btn">
                    <a href="#directions"> <img src="images/icon/compass2.png" class="center-block"/>

                        <h3 class="text-center"> 오시는 길 </h3></a>
                </div>
            </div>
        </div>
        <!-- begin of end icon  -->
    </div>
</div>