
<link href="../../styles/introduction.css" rel="stylesheet">




<div class="col-md-12 column line-bottom">
    <div class="row clearfix">
        <h3 class="pull-left"> 로그인 </h3>
    </div>
</div>

<div class="col-md-12 lo-01">
    <p class="text-center"><img src="images/flower.png" alt="로그인페이지">
    </p>

    <form class="form-signin">
        <input type="text" class="form-control form-style" placeholder="아이디" autofocus>
        <input type="password" class="form-control form-style" placeholder="비밀번호">
        <button class="btn btn-lg btn-brown btn-block" type="submit" style="">
            Log in
        </button>
    </form>
</div>

