<link href="styles/login.css" rel="stylesheet">
<script src="scripts/controllers/accounts_temp.js" type="text/javascript"></script>


<link href="../../styles/introduction.css" rel="stylesheet">

    <div class="col-md-12 column line-bottom">
        <div class="row clearfix">
            <h3 class="pull-left"> 매종인테리어 로그인 </h3>
            <ul class="list-unstyled list-inline pull-right pager01">

            </ul>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-offset-3 col-md-6 col-md-offset-3 column"><br/>
            <input type="text" class="form-control" placeholder="아이디" ng-model="login_id"><br/>
            <input type="password" class="form-control" placeholder="비밀번호" ng-model="login_pwd"><br/>
            <button class="btn btn-lg btn-write btn-block" ng-click="login_check()">로그인</button><br/>
                <div class="col-md-12 column">
        </div>
    </div>



